
body {
    margin: 0%;
    padding: 0%;
}

header{
    background-color: black;
    
}

#carouselExampleIndicators{
    
    margin: 3% 30%;
    
}

.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuFondo{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    justify-content: space-around;
    color: white;
}


.edi{
    width: 100%;
    height: 60%;
}


.menu{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    justify-content: center;
    margin: 3% 0;
    
}

.mD{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3% 0;
}

.menuEns{
    display: grid;
    grid-template-columns: 29% 29% 29% ;
    justify-content: center;
    column-gap: 7%;
    margin: 3% 0;
    margin-right: 2%;

    
}

.espe{
    display: grid;
    grid-template-columns: 43% 42%;
    column-gap: 10%;
    margin-left: 3%;
}

.formu{
    display: flex;
    flex-direction: column;
    
    
    width: 40%;
}

.btn-whatsapp{
    margin: 3% 0%;
}

.links{

    @include flex;
    flex-direction: column;
  
}

.cen{
    @include flex;
    margin: 3% 0%;
}


@media (max-width: 480px){

    .menuFondo{
        margin-right: 3%;
    }

    .hor{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 100%;
    }
    
    .formu{
        height: 220px;
        margin-top: 3%;
    }

    .menu{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        margin-top: 5%;
    }

}

