

.logo{
    width: 50%;
    height: 150px;
}

.ord{
    @include flex;
}

.imagenes{
    
    height: 50rem;
    
}

.logoFondo{
    height: 150px;
    width: 50%;

}

.moni{
    height: 20%;
    width: 50%;
    margin: 3% 0%;
}

.mapa{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 3%;
    height: 1000%;
    width: 100%;
}

@media (max-width: 768px){

    
    .moni{

        margin-top: 3%;
        width: 80%;
        height: 60%;
        margin-left: 10%;
        margin-right: 10%;
    }

       
}

@media (max-width: 480px){

    .logo{
        height: 100px;
        width: 50%;
    }

    .logoFondo{

        height: 50%;

    }

}